<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.example.onemore" />
    <bean id = "id_admin" class = "com.example.onemore.models.account"/>
    <bean id = "id_animal" class = "com.example.onemore.models.buysell"/>
    <bean id = "id_animal_type" class = "com.example.onemore.models.holder"/>
    <bean id = "id_builder" class = "com.example.onemore.models.issuer"/>
    <bean id = "id_cage" class = "com.example.onemore.models.mediator"/>
    <bean id = "id_cage_animal" class = "com.example.onemore.models.papers"/>


</beans>